<div class="container mx-auto py-10 px-4">
  <%= link_to '新規作成', new_restaurant_path, class: 'btn btn-primary mb-3' %>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <!-- head -->
      <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @restaurants.each do |r| %>
        <tr>
          <th><%= r.id %></th>
          <td><%= r.name %></td>
          <td><%= link_to '編集', edit_restaurant_path(r), class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
